## Donate to ₿ 🏃‍♂️❤️🙏

### Bitcoin (BTC)

<div>
  <a href="/assets/images/about/donate/BTC-address-qrcode-480x480.jpeg">
    <img src="/assets/images/about/donate/BTC-address-qrcode-200x200.jpeg" alt="image-left" class="align-center">
  </a>

  <p style="text-align:center;margin-top:1rem">bc1qwx9e5j5gmmz434gpmelfpqnh3rquv0wefffzrm</p>
</div>

<hr>


### Ethereum (ETH)

<div>
  <a href="/assets/images/about/donate/ETH-address-qrcode-480x480.jpeg">
    <img src="/assets/images/about/donate/ETH-address-qrcode-200x200.jpeg" alt="image-left" class="align-center">
  </a>

  <p style="text-align:center;margin-top:1rem">0x30892F597803A1eaF6e47Fe320DD8b15DF52ed73</p>
</div>

<div class="clear"></div>
<hr>
