## Donate ❤️🙏

### Bitcoin (BTC)

<div>
  <a href="/assets/images/about/donate/BTC-address-qrcode.png">
    <img src="/assets/images/about/donate/BTC-address-qrcode-170x170.png" alt="image-left" class="align-center">
  </a>

  <p style="text-align:center;margin-top:1rem">333e7k8VEUUB8PDfGY3LZDyEKxtt8F29e8</p>
</div>

<hr>


### Ethereum (ETH)

<div>
  <a href="/assets/images/about/donate/ETH-address-qrcode.png">
    <img src="/assets/images/about/donate/ETH-address-qrcode-170x170.png" alt="image-left" class="align-center">
  </a>

  <p style="text-align:center;margin-top:1rem">0xbfe59bedec7656fe7c788c14b6b1398c5d2b0e6a</p>
</div>

<div class="clear"></div>
<hr>


### Basic Attention Token (BAT)

<div>
  <a href="/assets/images/about/donate/BAT-address-qrcode.png">
    <img src="/assets/images/about/donate/BAT-address-qrcode-170x170.png" alt="image-left" class="align-center">
  </a>

  <p style="text-align:center;margin-top:1rem">0x169de5a4afc6f29a7203b1fb2279084575437c9a</p>
</div>

<div class="clear"></div>