## What wants to do this bitcoin run?

Who is up for the challenge 💪? [Get in contact with us ✉️](mailto:ama@codepedia.org)

<figure class="image">
  <a href="/assets/images/runs/{{ include.city }}/sketch/{{ include.sketch_image }}">
    <img src="/assets/images/runs/{{ include.city }}/sketch/{{ include.sketch_image }}" alt="{{ include.snippetId }} Bitcoin Run Sketch">
  </a>
  <figcaption>{{ include.snippetId }} Bitcoin Run Sketch</figcaption>
</figure>

> If you have a better proposal for this place's bitcoin run, by all means 👌👍