
- [Get in contact with us ✉️](mailto:bitcoinruns@protonmail.com)
- **Run, record, take pictures** 🏃‍♂ 🛰️ 📷
{% if include.strava_url %}
- Click on the picture below to see the [Strava Route]({{include.strava_url}}) 👇
{% endif %}
{% if include.gpx_file %}
- [Gpx file 📁]({{include.gpx_file}})
{% endif %}

<figure class="image">
  {% if include.strava_url And include.strava_url != "" And include.strava_url != nil %}
    <a href="{{ include.strava_url }}">
  {% else %}
      <a href="{{ include.sketch_image }}">
  {% endif %}
    <img src="{{ include.sketch_image }}" alt="{{ include.city }} Bitcoin Run Sketch">
  </a>
  <figcaption>Bitcoin Run Sketch - {{ include.city }}</figcaption>
</figure>

> 👉 See other locations at [list of proposals](/proposals/)
