## {{ include.city }} Bitcoin Run Challenge ₿ 🏃‍♂️

**Who is up for it 💪?** - [Get in contact with us ✉️](mailto:bitcoinruns@protonmail.com)

<figure class="image">
  <a href="{{ include.sketch_image }}">
    <img src="{{ include.sketch_image }}" alt="{{ include.city }} Bitcoin Run Sketch">
  </a>
  <figcaption>Bitcoin Run Sketch - {{ include.city }}</figcaption>
</figure>

> 👉 See the whole [list of proposals](/proposals/). You can make other suggestions at [🙏 ✉️](mailto:bitcoinruns@protonmail.com)